.bl{
    background-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: white;
    font-family: 'Times New Roman', Times, serif;
}

#link{
    background-color: antiquewhite;

}

body{
    background-image: url(paper.jpg)
    
}