.bl{
    background-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: white;
}

#link{
    background-color: antiquewhite;

}

style{
    background-image: url(paper.jpg)
    
}